body{
  text-align:center;
  font-family:Helvetica, sans-serif;
}
.textLeft{
  text-align:left;
}
.textRight{
  text-align:right;
}
#gameCanvas{
  border: 1px solid black;
}
.flex{
  display:flex;
  justify-content:center;
}
.palm{
  width:300px;
  height:300px;
}
.mainHeading{
  font-size:500%;
}
